<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app.js" defer></script>
  </head>

  <body>
    {% if usuario %}
      <main>
        <aside>
          <h1>{{ app_name }}</h1>

          <nav>
            <a href="/admin" class="{% if activo == 'dashboard' %}activo{% endif %}">Dashboard</a>
            <a href="/documentos" class="{% if activo == 'documentos' %}activo{% endif %}">Documentos</a>
            <a href="/entrenamientos" class="{% if activo == 'entrenamientos' %}activo{% endif %}">Entrenamiento RAG</a>
            <a href="/indexaciones" class="{% if activo == 'indexaciones' %}activo{% endif %}">Indexaciones</a>
            <a href="/buscar" class="{% if activo == 'buscar' %}activo{% endif %}">Buscar</a>
            <a href="/logout">Salir</a>
          </nav>
        </aside>

        <section>
          {% block content %}{% endblock %}
        </section>
      </main>
    {% else %}
      {% block login %}{% endblock %}
    {% endif %}
  </body>
</html>